* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100px;
    padding-left: 25px;
    background-color: rgba(227, 152, 152, 0.312);



}

h2 {
    text-align: center;
    padding: 20px;
    color: blue;
   
    
}

label {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

input {
    width: 98%;
    height: 25px;
    font-style: italic;
    font-weight: 500;
}

button {
    width: 250px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    margin: 50px;
    background-color: rgb(11, 73, 217);
    color: azure;
   cursor: pointer;

}